body {
    font-family: 'Gothic A1', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #30A7A3,  #89CFF0, #A8D5BA, #B2B2B2, #D4AF37);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.logo {
    width: 80%;
    /* Adjust the size of the logo as needed */
}

h1 {
    font-size: 22px;
}

.content {
    max-width: 600px;
    text-align: center;
}

.email-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.underline-effect::after {
    content: '';
    width: 0;
    height: 3px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    transform-origin: left;
}

.underline-effect:hover::after {
    width: 100%;
}

@media (max-width: 770px) {
    .content {
        max-width: 90%;
        padding: 15px;
    }
}

@media (max-width: 670px) {
    .content {
        max-width: 100%;
        padding: 10px;
    }

    .content p,
    .content h1,
    .content h2 {
        font-size: 14px;
    }
}

@media (max-width: 355px) {
    h1 {
        font-size: 10px;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;
    }
}